.list-view {
  display: block;
  max-height: 170px;
  overflow-y: scroll;
  padding: 1rem;
  border-radius: 30px;
}

.todoItem {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 20px;
}

#todoItemButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.editTODOForm,
.addTODOForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.TODOForm {
  margin: 1rem;
}

.inputField {
  margin-bottom: 1rem;
}

.error-msg {
  color: red;
  margin-bottom: 1rem;
}

.EditTODOButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#clearAllButton,
#AddNewTODOButton {
  margin-bottom: 1rem;
}

.AddTODOButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
