.TODOForm {
  margin: 1rem;
}

.inputField {
  margin-bottom: 1rem;
}

.error-msg {
  color: red;
  margin-bottom: 1rem;
}

#clearAllButton,
#AddNewTODOButton {
  margin-bottom: 1rem;
}

/*
  Styles for Calendar TODOItem view
*/
.react-calendar__tile--active {
  background: rgba(255, 255, 255, 0);

  /* Controls the colour of text within each date tile */
  color: #000000;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {

  /* Controls the colour of date tile when clicked */
  background-color: rgb(255, 211, 176);
}