.TODOForm {
  margin: 1rem;
}

.inputField {
  margin-bottom: 1rem;
}

.error-msg {
  color: red;
  margin-bottom: 1rem;
}

#clearAllButton,
#AddNewTODOButton {
  margin-bottom: 1rem;
}

/*
  Styles for Calendar TODOItem view
*/
.react-calendar__tile--active {
  background-color: transparent;
  color: transparent;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: transparent;
}

.react-calendar__tile {
  /* Style to reset background color when not active */
  background: transparent;
}

/* style to reset background color when clicking outside */
.react-calendar__tile--outside {
  background: transparent !important;
}
